version: '2'
services:
  data-volume:
    container_name: 'data-volume'
    image: busybox
    volumes: 
      - ./data/www:/var/www
      - ./logs/php-fpm:/var/log/php-fpm
  phpfpm54:
    container_name: 'phpfpm54'
    image: oshou/docker-centos7-phpfpm-php54:latest
    privileged: true
    volumes_from:
      - data-volume
    ports:
      - 80:80
      - 9000:9000
